# Keycloak — local development only
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
KEYCLOAK_DB_PASSWORD=change-me

# Who issued the token
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/agreeoneat

# Address with public key to validate the token
KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/agreeoneat/protocol/openid-connect/certs

# The audience for which the token is intended
KEYCLOAK_AUDIENCE=agreeoneat-api

# GitHub access for the private configuration repository.
CONFIG_REPOSITORY_URI=https://github.com/MateuszKosowski/AgreeOnEat-Config.git
CONFIG_REPOSITORY_USERNAME=YourGitHubUsername
CONFIG_REPOSITORY_TOKEN=DeployTokenWithReadOnlyAccessToConfigRepo
